input.submit:hover {
	background-color: #f96e5b;
}
.error .left {
	color: #f96e5b;
}
.error .right {
	background-color: #f96e5b;
}
#back-top a:hover {
	background-color: #f96e5b;
}
#primary-menu ul ul li a:hover { 
    background-color: #f96e5b; 
}
.skills-graph li span {
	background-color:#f96e5b;
}
.button.grey:hover {
	background-color: #f96e5b;
}
.highlight1 {
	background-color: #f96e5b;
}
.post-media.link a:hover {
	background-color: #f96e5b;
}
#load-more a:hover, #load-more a.active {
	background-color: #f96e5b;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
	background-color: #f96e5b;
} 
#comment-list .reply a:hover {
	background-color: #f96e5b;
}
.tags a {
	background-color: #f96e5b;
}
.archive-list ul li a:hover {	
	background-color: #f96e5b; 
}
.archive-list .tags a:hover {	
	background-color: #f96e5b; 
}
#comment-list ul.children .reply a:hover {	
	background-color: #f96e5b; 
}
.flex-direction-nav a:hover {	
	background-color: #f96e5b; 
}
div.jp-play-bar {
	background-color: #f96e5b;
}
div.jp-volume-bar-value {
	background-color: #f96e5b;
}
ul.item-nav li:hover {
	background-color: #f96e5b;
}
#prevslide:hover, #nextslide:hover  {	
	background-color: #f96e5b; 
}